body {
  background-color: black;
}

.frame {
  width: 1000px;
  height: 600px;
  background: rgb(223, 248, 255);
  margin: 30px auto;
  position: relative;
}

.book-one {
  width: 300px;
  height: 35px;
  background: white;
  position: absolute;
  
  z-index: 3;
  left: 330px;
  top: 502px;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.12), 0 5px 9px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(0deg, rgb(255, 255, 255), rgb(225, 225, 225));
}

.book-one::after {
  content: 'A Thousand Small';
  font-size: 25px;
  color: rgb(147, 223, 255);
  padding:20px;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
 
}


.book-two {
  width: 260px;
  height: 30px;
  background: rgb(51, 109, 171);
  position: absolute;
  z-index: 3;
  left: 380px;
  top: 472px;
  box-shadow: 2px 3px 5px rgb(203, 203, 203);
  background-image: linear-gradient(0deg, rgb(51, 109, 171), rgb(202, 223, 255));
  
}


.book-two::after {
  content: 'A book named after a book about a book';
  font-size: 9px;
  color: rgb(255, 255, 255);
  padding:25px;
  text-transform: capitalize;
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
 
}

.book-three {
  width: 240px;
  height: 30px;
  background: rgb(244, 232, 106);
  position: absolute;
  z-index: 3;
  left: 390px;
  top: 442px;
  box-shadow: 2px 3px 5px grey;
  background-image: linear-gradient(0deg, rgb(250, 232, 26), rgb(205, 195, 88));
}

.book-three::after {
  content: 'A book named after a book about a book whose name is named after a book Vol.4';
  font-size: 6px;
  color: rgb(0, 0, 0);
  padding:5px;
  text-transform: capitalize;
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
 
}

.table{
  width: 1000px;
  height: 120px;
  background: rgb(184, 184, 184);
  position: absolute;
  z-index: 1;
  top: 480px;
}

.fruit-1 {
  width: 60px;
  height: 50px;
  background: rgb(146, 182, 88);
  position: absolute;
left: 400px;
z-index: 4;
top: 530px;
border-radius: 50px;
background-image: linear-gradient(10deg, rgb(59, 101, 0), rgb(178, 232, 54));
box-shadow: 0 5px 9px rgba(0, 0, 0, 0.12), 0 5px 9px rgba(0, 0, 0, 0.24);
}

.fruit-2 {
  width: 60px;
  height: 50px;
  background: rgb(129, 160, 77);
  position: absolute;
left: 450px;
z-index: 3;
top: 520px;
border-radius: 50px;
background-image: linear-gradient(-160deg, rgb(203, 230, 106), rgb(60, 74, 27));
box-shadow: 0 5px 9px rgba(0, 0, 0, 0.12), 0 5px 9px rgba(0, 0, 0, 0.24);

}

.book-three:hover{
  transform: translateX(-40px);
}
.book-two:hover{
  transform: translateX(-40px);
}
.book-one:hover{
  transform: translateX(-40px);
}
.flower:hover{
  transform: translateY(-40px);
}
.flower2:hover{
  transform: translateY(-40px);
}
.fruit-1:hover{
  transform: translateY(-10px);
}
.fruit-2:hover{
    transform: translateY(-10px);
}
.fruit-3:hover{
  transform: translateY(-10px);
}
.fruit-4:hover{
  transform: translateY(-10px);
}

.fruit-3 {
  width: 60px;
  height: 50px;
  background: rgb(109, 136, 61);
  position: absolute;
left: 360px;
z-index: 3;
top: 520px;
border-radius: 50px;
background-image: linear-gradient(190deg, rgb(59, 101, 0), rgb(168, 218, 51));
box-shadow: 0 5px 9px rgba(0, 0, 0, 0.12), 0 5px 9px rgba(0, 0, 0, 0.24);
}

.fruit-4 {
  width: 60px;
  height: 50px;
  background: rgb(188, 233, 115);
  position: absolute;
left: 403px;
z-index: 3;
top: 492px;
border-radius: 50px;
background-image: linear-gradient(0deg, rgb(80, 99, 66), rgb(181, 215, 114));
box-shadow: 0 5px 9px rgba(0, 0, 0, 0.12), 0 5px 9px rgba(0, 0, 0, 0.24);
}

.fruit-5 {
  width: 72px;
  height: 70px;
  background: rgb(176, 114, 67);
  position: absolute;
left: 530px;
z-index: 4;
top: 500px;
border-radius: 50px;
box-shadow: 0 5px 9px rgba(0, 0, 0, 0.24), 0 5px 9px rgba(0, 0, 0, 0.24);
background-image: linear-gradient(0deg, rgb(176, 114, 67), rgb(194, 130, 80));
}
.fruit-6 {
  width: 70px;
  height: 40px;
  background: rgb(176, 114, 67);
  position: absolute;
left: 545px;
z-index: 4;
top: 530px;
border-radius: 30px;
transform: rotate(38deg);
background-image: linear-gradient(0deg, rgb(176, 114, 67), rgb(194, 130, 80));
}
.fruit-7 {
  width: 9px;
  height: 9px;
  background: rgb(120, 78, 47);
  position: absolute;
left: 600px;
z-index: 4;
top: 560px;
border-radius: 30px;
}
.fruit-8 {
  width: 72px;
  height: 74px;
  background: rgb(176, 114, 67);
  position: absolute;
left: 580px;
z-index: 3;
top: 500px;
border-radius: 50px;
background-image: linear-gradient(20deg, rgb(148, 97, 58), rgb(176, 114, 67));
box-shadow: 3px 9px 5px grey;
}

.fruit-9 {
  width: 70px;
  height: 40px;
  background: rgb(171, 111, 65);
  position: absolute;
left: 580px;
z-index: 3;
top: 490px;
border-radius: 30px;
transform: rotate(-95deg);

}

.fruit-10 {
  width: 9px;
  height: 9px;
  background: rgb(120, 78, 47);
  position: absolute;
left: 610px;
z-index: 4;
top: 478px;
border-radius: 30px;
}

.vase{
  height: 200px;
  width: 70px;
  background: rgb(225, 225, 225);
  opacity: 30%;
  z-index: 3;
  position: absolute;
  left: 650px;
  top: 350px;
  border-radius:10px 10px 25px 25px;
  opacity: 0.5;
  background-image: linear-gradient(0deg, rgb(167, 167, 167), rgb(238, 238, 238));
  box-shadow: 3px 9px 5px grey;
}

.fruit-11 {
  width: 100px;
  height: 150px;
  background: rgb(255, 222, 35);
  position: absolute;
left: 480px;
z-index: 4;
top: 292px;
border-radius: 50px 50px 40px 40px;
background-image: linear-gradient(0deg, rgb(198, 168, 0), rgb(254, 218, 19));
box-shadow: 2px 3px 5px grey;
}

.spike {
  width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
  border-bottom: 15px solid rgb(198, 168, 0);
  z-index: 5;
  position: absolute;
  left: 485px;
  top: 315px;
  transform: rotate(10deg);
}

.spike2 {
  width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
  border-bottom: 15px solid rgb(198, 168, 0);
  z-index: 5;
  position: absolute;
  left: 515px;
  top: 315px;
}

.spike3 {
  width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
  border-bottom: 15px solid rgb(198, 168, 0);
  z-index: 5;
  position: absolute;
  left: 545px;
  top: 315px;
  transform: rotate(-10deg);
}


.spike4 {
  width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
  border-bottom: 15px solid rgb(198, 168, 0);
  z-index: 5;
  position: absolute;
  left: 485px;
  top: 330px;
  transform: rotate(10deg);
}

.spike5 {
  width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
  border-bottom: 15px solid rgb(198, 168, 0);
  z-index: 5;
  position: absolute;
  left: 515px;
  top: 330px;
}

.spike6 {
  width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
  border-bottom: 13px solid rgb(198, 168, 0);
  z-index: 5;
  position: absolute;
  left: 545px;
  top: 330px;
  transform: rotate(-10deg);
}

.spike7 {
  width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
  border-bottom: 12px solid rgb(198, 168, 0);
  z-index: 5;
  position: absolute;
  left: 542px;
  top: 302px;
  transform: rotate(-10deg);
}

.spike8 {
  width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
  border-bottom: 12px solid rgb(198, 168, 0);
  z-index: 5;
  position: absolute;
  left: 518px;
  top: 302px;
  transform: rotate(0deg);
}


.spike9 {
  width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
  border-bottom: 12px solid rgb(198, 168, 0);
  z-index: 5;
  position: absolute;
  left: 495px;
  top: 302px;
  transform: rotate(10deg);
}
.leaf {
  width: 15px;
  height: 80px;
  position: absolute;
  left: 485px;
  top: 225px;
  z-index: 6;
  background: green;
  border-radius: 0px 70px 0px 40px;
  transform: rotate(-25deg);
  background-image: linear-gradient(0deg, rgb(1, 55, 1), green);
}
.leaf2 {
  width: 15px;
  height: 80px;
  position: absolute;
  left: 550px;
  top: 225px;
  z-index: 6;
  background: green;
  border-radius: 70px 0px 40px 0px;
  transform: rotate(25deg);
  background-image: linear-gradient(0deg, rgb(1, 55, 1), green);
}

.leaf3 {
  width: 15px;
  height:100px;
  position: absolute;
  left: 490px;
  top: 200px;
  z-index: 6;
  background: green;
  border-radius: 0px 70px 0px 40px;
  transform: rotate(-19deg);
  background-image: linear-gradient(0deg, rgb(1, 55, 1), green);
}
.leaf4 {
  width: 15px;
  height: 100px;
  position: absolute;
  left: 545px;
  top: 200px;
  z-index: 6;
  background: green;
  border-radius: 70px 0px 40px 0px;
  transform: rotate(19deg);
  background-image: linear-gradient(0deg, rgb(1, 55, 1), green);
}


.leaf5 {
  width: 15px;
  height:110px;
  position: absolute;
  left: 505px;
  top: 190px;
  z-index: 6;
  background: green;
  border-radius: 0px 70px 0px 40px;
  transform: rotate(-20deg);
  background-image: linear-gradient(0deg, rgb(1, 55, 1), green);
}
.leaf6 {
  width: 15px;
  height: 110px;
  position: absolute;
  left: 531px;
  top: 190px;
  z-index: 6;
  background: green;
  border-radius: 70px 0px 40px 0px;
  transform: rotate(20deg);
  background-image: linear-gradient(0deg, rgb(1, 55, 1), green);
}
.leaf7 {
  width: 15px;
  height: 115px;
  position: absolute;
  left: 515px;
  top: 185px;
  z-index: 6;
  background: green;
  border-radius: 70px 0px 40px 0px;
  background-image: linear-gradient(0deg, rgb(1, 55, 1), green);

}

.flower{
  height: 250px;
  width: 10px;
  color: green;
  background-image: linear-gradient(0deg, rgb(220, 245, 220), rgb(144, 201, 87));
  left: 700px;
  position: absolute;
  top:300px;
  z-index: 2;
  border-radius: 70px 0px 40px 0px;
  transform: rotate(5deg);
}

.flower2{
  height: 250px;
  width: 10px;
  color: green;
  background-image: linear-gradient(0deg, rgb(220, 245, 220), rgb(144, 201, 87));
  left: 685px;
  position: absolute;
  top:300px;
  z-index: 2;
  border-radius: 70px 0px 40px 0px;
  transform: rotate(0deg);
}


